/* Estilos para el examen */

/* Selector Universal */

*{
    padding: 0;
    margin: 0;
}

/* Selector de etiqueta */

body{
    background-color: white;
}

button{
    background-color: #5e5e4a;
    padding: 2rem;
}

#encabezado{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman';
    color: #bada55;
    background-color: #b58a69;
}

#menu{
    font-family: 'Times New Roman';
    color: #000000;
    text-align: center;
}

#menu li{
    display: inline;
    padding: 40px 40px;
}

#pie{
    font-family: 'Times New Roman';
    font-size: 14px;
    color: #e8e6e6;
    background-color: #5e5e4a;
}

.contenedor{
    height: 1200px;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.contenido-arriba{
    
    display: flex;
    background-color: #dee5de;
    margin-left: 50px;
    margin-right: 50px;
}

.img-arriba{
    width: 340px;
    height: 190px;
    max-width: 100%;
    margin-right: 20px;
    flex: 1;
}

.texto-arriba{
    font-family: 'Times New Roman';
    font-size: 20px;
    text-align: justify;
}

.img-abajo{
    width: 150px;
    height: 120px;
    margin-top: 10px;
    justify-items: center;
    object-fit: cover;
}

.texto-abajo{
    font-family: 'Times New Roman';
    font-size: 20px;
}

.contenido-abajo{
  
    text-align: justify;
    background-color: #d7d7cb;
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    place-items: center;
}

ul{
    padding: 10px;
    font-size: 18px;
}

li{
    padding: 5px 5px;
    margin: 5px;
}

a:hover{
    color:red;
    text-decoration: none;
}
.dos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.grid2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}